@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav ul {
        display: flex !important;
        position: static;
        flex-direction: row;
        width: auto;
        background: none;
        padding: 0;
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlights-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-cta h1 {
        font-size: 2.75rem;
    }
}