@media (min-width: 600px) {
    #course-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #menu { display: none; }
}